html, body {
  height: 100%;
}
#quote-machine {
  height: 100%;
}
#container {
  transition: all 0.7s;
  height: 100%;
}

#panel {
  background-color: white;
  max-width: 50%;
  max-height: 50%;
  border-radius: 7px;
  margin: auto;
  transition: all 0.7s;
}

h3 {
  font-style: italic;
}